#root {
  margin: 0 auto;
  text-align: center;
  color: #2C2525;
}

/* media query for responsiveness */
@media (max-width: 768px) {
  #root {
    padding: 1rem;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

nav {
  ul {
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
  }

  li {
    margin-right: 15px;
  }

  a {
    color: #333;
    text-decoration: none;
    transition: color 0.3s, cursor 0.3s;
  }

  a:hover {
    color: blue;
    cursor: pointer;
  }

  a.active {
    font-weight: bold;
    color: #fff;
  }

  .menu-icon {
    display: none;
  }

  ul.visible {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
}