nav {
    position: relative;
}

.menu-icon {
    display: none;
    /* Hidden by default, shown on mobile */
    flex-direction: column;
    cursor: pointer;
}

.bar {
    height: 4px;
    width: 25px;
    background-color: #333;
    margin: 4px 0;
    transition: 0.4s;
}

/* Style for the navigation list */
.nav-list {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.nav-list.open {
    display: flex;
}

li {
    margin: 0 15px 15px 0;
}

a {
    color: #9ebd9e;
    text-decoration: none;
    transition: color 0.3s, cursor 0.3s;
}

/* Add focus styles for better WCAG */
a:focus,
.menu-icon:focus {
    outline: 2px solid #6b9a6b;
    outline-offset: 2px;
}

a:hover {
    color: #6b9a6b;
    cursor: pointer;
}

a.active {
    font-weight: bold;
    /* Bold text for active link */
    color: #6b9a6b;
    /* Active link color */
}

/* Adjustments for screen sizes below 600px */
@media (max-width: 600px) {
    .menu-icon {
        display: flex;
        /* Show hamburger icon on mobile */
    }

    .nav-list {
        flex-direction: column;
        align-items: center;
        position: absolute;
        top: 60px;
        left: 0;
        background: #fff;
        width: 100%;
        display: none;
        transition: max-height 0.4s ease-in-out;
        max-height: 0;
        overflow: hidden;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    }

    .nav-list.open {
        display: flex;
        max-height: 500px;
    }

    li {
        margin: 10px 0;
        text-align: center;
    }
}