nav {
    position: relative;
    /* To position the menu */
}

.menu-icon {
    display: none;
    /* Hidden by default */
    flex-direction: column;
    cursor: pointer;
}

.bar {
    height: 4px;
    width: 25px;
    background-color: #333;
    margin: 4px 0;
    transition: 0.4s;
}

/* Style for the navigation list */
.nav-list {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.nav-list.open {
    display: flex;
    /* Show list when open */
}

li {
    margin: 0 15px 15px 0;
}

a {
    color: #333;
    text-decoration: none;
    transition: color 0.3s, cursor 0.3s;
}

a:hover {
    color: #745151;
    cursor: pointer;
}

a.active {
    font-weight: bold;
}

/* Adjustments for screen sizes below 600px */
@media (max-width: 600px) {
    .menu-icon {
        display: flex;
        /* Show hamburger icon on mobile */
    }

    .nav-list {
        flex-direction: column;
        align-items: center;
        position: absolute;
        top: 60px;
        left: 0;
        background: #fff;
        width: 100%;
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.4s ease-in-out;
    }

    .nav-list.open {
        max-height: 500px;
    }

    li {
        margin: 10px 0;
        text-align: center;
    }
}