nav {
    position: relative;
}

.menu-icon {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.bar {
    height: 4px;
    width: 25px;
    background-color: #333;
    margin: 4px 0;
    transition: 0.4s;
}

.nav-list {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

li {
    margin: 0;
    text-align: center;
}

a {
    color: #9ebd9e;
    text-decoration: none;
    transition: color 0.3s, cursor 0.3s;
    padding: 10px 20px;
}

a:focus,
.menu-icon:focus {
    outline: 2px solid #0D3F16;
    outline-offset: 2px;
}

a:hover {
    color: #0D3F16;
    cursor: pointer;
}

a.active {
    font-weight: bold;
    color: #6b9a6b;
}

@media (max-width: 768px) {
    .menu-icon {
        display: flex;
        /* Show the hamburger icon on mobile */
    }

    .nav-list {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 60px;
        left: 0;
        background: #fff;
        width: 100%;
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.4s ease-in-out;
        z-index: 1000;
        padding: 10px 0;
    }

    .nav-list.open {
        display: flex;
        max-height: 500px;
    }
}